{%extends "base.html" %}
{%block title%}Trademarks{%endblock%}
{%block maincontent%}

<h1>About</h1>
<p>
    The PostgreSQL Community Association of Canada is a Canadian Not For Profit
    corporation that holds assets for the PostgreSQL project such as domain
    names and trademarks.
</p>

<h2>Board Members</h2>
<p>
    The board of the PostgreSQL Community Association of Canada currently
    consists of the following individuals.</p>
 <ul>
     <li>Dave Page (Chairman)</li>
     <li>Steve Singer (Treasurer)</li>
     <li>Jonathan Katz (Secretary)</li>
     <li>Jaime Casanova</li>
     <li>Peter Eisentraut</li>
     <li>Marc Fournier</li>
</ul>

<p>
  You can contact the board of the PostgreSQL Community Association of Canada at
  <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a>.
</p>
{%endblock%}
