{%extends "base.html" %}
{%block title%}Trademarks{%endblock%}
{%block maincontent%}

<h1>About</h1>
<p>
    The PostgreSQL Community Association (PGCA) is a Canadian Not For Profit 
    corporation chartered by the PostgreSQL Core Team in 2011 to hold and 
    protect the Postgres brand assets globally.
</p>

<p>
    The brand assets that PGCA currently stewards are trademarks and domains 
    that are required by the Open Source Postgres project. 
</p>

<p>
    The Postgres ecosystem—worth billions of dollars and used by millions of 
    companies, developers, and enthusiasts—relies on PGCA’s stewardship of the 
    Postgres brand assets.
</p>

<h2>Board Members</h2>
<p>
    The board of the PostgreSQL Community Association currently
    consists of the following individuals.</p>
 <ul>
     <li>Dave Page (Chairman)</li>
     <li>Steve Singer (Treasurer)</li>
     <li>Jonathan Katz (Secretary)</li>
     <li>Jaime Casanova</li>
     <li>Peter Eisentraut</li>
     <li>Marc Fournier</li>
     <li>Claire Giordano</li>
</ul>

<p>
  You can contact the board of the PostgreSQL Community Association at
  <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a>.
</p>

<h2>Board Members Emeriti</h2>
<p>
    The following individuals previously served on the board of the PostgreSQL
    Community Association, and we recognize their contributions to the
    organization:
</p>
<ul>
    <li>Christopher Browne (Treasurer) 2011- 2020</li>
    <li>Dan Langille 2012 - 2017</li>
    <li>Josh Berkus (Secretary) 2011 - 2018</li>
</ul>
{%endblock%}
