{%extends "base.html" %}
{%block title%}Domain Names{%endblock%}
{%block maincontent%}

<h1>Domain Names</h1>
<p>
  The PostgreSQL Community Association of Canada holds the following domain
  names on behalf of the PostgreSQL project:
</p>

<p>
  <ul>
    <li>pgday.ca</li>
    <li>postgres.community</li>
    <li>postgres.org</li>
    <li>postgres.events</li>
    <li>postgresql.com</li>
    <li>postgresql.events</li>
    <li>postgresql.org</li>
    <li>postgres.ca</li>
    <li>postgrsql.company</li>
    <li>postgresql.co.uk</li>
    <li>postgresql.uk</li>
    <li>postgres.com</li>
  </ul>
</p>

{%endblock%}
