<div id="community-support" class="dark-theme">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-10">
        <h2 class="h3 mb-4 text-white">Looking for Postgres community support or software?</h2>
        <p>PostgreSQL.org is the home of the global PostgreSQL development community. If you're looking for software downloads or community support, visit the global <a href="https://www.postgresql.org/" target="_blank" rel="noopener">PostgreSQL.org</a> site!</p>
      </div>
    </div>
  </div>
</div>