<div id="thank-you" class="py-5">
  <div class="donate-icon mx-auto mb-2 text-primary">
    <svg alt="donate icon">
      <title>donate icon</title>
      <use xlink:href="/static/img/icon-sprite.svg#donate-icon"></use>
    </svg>
  </div>
  <div class="text-center position-relative mt-4 mb-4">
    <hr class="separator-line position-absolute" />
    <h2 class="h3 mt-n4 mb-0 position-relative text-primary font-weight-semibold">Thank you for your generous support of PGCA&rsquo;s mission</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mt-2">PGCA and the PostgreSQL Core Team appreciate the generous financial support we receive from corporations, small businesses, & individual donors. We could not protect the PostgreSQL brand & trademarks without your annual contributions!</p>
        <p><strong>Thank you.</strong></p>
      </div>
    </div>
  </div>
</div>
