{%extends "base.html" %}
{%block title%}Donate to PGCAC{%endblock%}
{%block maincontent%}

<h1>Donate</h1>
<p>
  The PostgreSQL Community Association is a not-for-profit
  organisation that relies on your donations to fulfill its mission of managing
  and protecting key assets for the PostgreSQL project, such as domain names and
  trademarks.
</p>

<h2>PayPal or Credit/Debit Card</h2>
<p>
  If you would like to make a quick and easy donation you can
  do so via PayPal, either using your PayPal account, or with a debit or credit
  card. Please click the Donate button to visit our PayPal donation page:
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="FDSGMYVA93E9L" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
  </form>
</p>

<h2>Bank Transfer</h2>
<p>
  If you would like to donate via bank transfer, or in any other
  way, please contact the PGCA board at
  <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a> and we
  will be happy to help.
</p>

<h2>Thank You</h2>
<p>
  Thank you for supporting the PostgreSQL Project!
</p>


{%endblock%}
