{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block relatedinfo %}
<div id="pgFrontRight">
 <div class="pgFrontBox">
  <h2>Donate</h2>
  <p>
    If you would like to help support the mission of the PostgreSQL Community
    Association of Canada (PGCAC) donations can be made via PayPal, either with a PayPal account
    or directly using a credit or debit card:
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="FDSGMYVA93E9L" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </p>
  <p>
    Alternatively, if you wish to make a donation through a bank transfer or by
    other means, please contact the PGCAC board at
    <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a>.
  </p>
 </div>

 <div class="pgFrontBox">
  <h2>Other Organisations</h2>
  <ul>
   <li><a href="https://www.postgresql.eu/">PostgreSQL Europe</a></li>
   <li><a href="https://www.postgresql.us/">PostgreSQL US</a></li>
  </ul>
 </div>

 <div class="pgFrontBox">
  <h2>Related</h2>
  <ul>
   <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
  </ul>
 </div>
</div>
{% endblock %}

{% block maincontent %}
<div id="pgFrontLeft">
 <div id="pgFrontWelcome" class="pgFrontBox">
  <h1>Welcome to PostgreSQL Canada</h1>
  <p>
Welcome to the PostgreSQL Community Association of Canada, a non-profit organisation
setup to steward assets such as domain names and trademarks for the <a
href="https://www.postgresql.org/">PostgreSQL Project</a>.
  </p>
 </div>

 <div id="pgFrontNews" class="pgFrontBox">
  <h1>Latest news</h1>

    <div class="pgFrontNewsItem">
      <h2>Infringing Trademark Registrations Invalidated by Spanish Court</h2>
      <h3>23 June 2022</h3>

      <p>In 2020, the PostgreSQL Core Team was made aware of trademarks
        registered in Spain and the European Union for <strong>POSTGRESQL</strong>
        and <strong>POSTGRESQL COMMUNITY</strong> by Fundación PostgreSQL, a
        3rd-party nonprofit organization. Subsequently, Fundación PostgreSQL
        also filed trademark registrations for <strong>POSTGRES</strong>.
        This situation is described in two
        separate announcements by the PostgreSQL community:
        "<a href="https://www.postgresql.org/about/news/trademark-actions-against-the-postgresql-community-2302/">Trademark Actions Against the PostgreSQL Community</a>" and
        "<a href="https://www.postgresql.org/about/news/update-on-the-trademark-actions-against-the-postgresql-community-2437/">Update on the Trademark Actions Against the PostgreSQL Community</a>".
      </p>
      <p>
        Fundación PostgreSQL offered publicly and privately to transfer the
        trademark registrations to PGCAC at no cost. However, when prompted to
        initiate the transfer,Fundación PostgreSQL refused. This forced both
        PGCAC and <a href="https://www.postgresql.eu">PostgreSQL Europe</a> (PGEU),
        a recognized PostgreSQL nonprofit organization that operates in Europe,
        to go forward with court proceedings in Spain to invalidate the
        trademark registrations.
      </p>
      <p>
        On the 31st of May, the Spanish court ordered ruled in favor of PGCAC
        and PGEU and invalidated the
        <strong>POSTGRESQL</strong> and <strong>POSTGRESQL COMMUNITY</strong>
        trademarks that were registered by Fundación PostgreSQL.
      </p>
      <p>
        Legal action on the registration for <strong>POSTGRES</strong> is
        ongoing.
      </p>
      <p>
        Fundación PostgreSQL attempted to register the same three
        trademarks in the United States. These applications were rejected
        by the examiner and are now abandoned.
      </p>
      <p>
        The PGCAC board is grateful for the support that the PostgreSQL
        community has provided for the defense of our trademarks. As we have
        stated previously, we do hope for an amicable resolution in this matter,
        but will pursue all options until Fundación PostgreSQL surrenders all
        claims to trademarks that are in violation of the PostgreSQL
        <a href="https://www.postgresql.org/about/policies/trademarks/">trademark policy</a>.
      </p>
      <p>
        If you would like to continue to help support the mission of PGCAC of
        holding community assets such as tradearks and domain names, we kindly
        ask that you please consider <a href="/donate">donating</a>.
      </p>

      <h2>Board members confirmed</h2>
      <h3>1 May 2022</h3>

      <p>Following an AGM and board meeting held during a video conference, the
        PostgreSQL Community Association of Canada's board has been re-confirmed
        as:</p>
      <ul>
        <li>Dave Page (Chairman)</li>
        <li>Steve Singer (Treasurer)</li>
        <li>Jonathan Katz (Secretary)</li>
        <li>Jaime Casanova</li>
        <li>Peter Eisentraut</li>
        <li>Marc Fournier</li>
      </ul>
    </div>

  <div class="pgFrontNewsItem">
    <h2>Board positions updated</h2>
    <h3>3 December 2020</h3>

    <p>Following the passing of our friend and colleague Chris Browne, the Board
      have voted to update the positions of various board members. The updated
      list is as follows:</p>
      <ul>
        <li>Dave Page (Chairman)</li>
        <li>Steve Singer (Treasurer)</li>
        <li>Jonathan Katz (Secretary)</li>
        <li>Jaime Casanova</li>
        <li>Peter Eisentraut</li>
        <li>Marc Fournier</li>
      </ul>
  </div>

 </div> <!-- pgFrontWelcome -->
</div> <!-- pgFrontLeft -->
{% endblock %}
