{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block relatedinfo %}
<div id="pgFrontRight">
 <div class="pgFrontBox">
  <h2>Help us out!</h2>
  <p>In the future you will be able to help PostgreSQL Canada by donating, but in the meantime
  why not help out in the <a href="https://www.postgresql.org/community/">PostgreSQL community</a>.
  </p>
 </div>

 <div class="pgFrontBox">
  <h2>Other usergroups</h2>
  <ul>
   <li><a href="https://www.postgresql.eu/">PostgreSQL Europe</a></li>
   <li><a href="https://www.postgresql.us/">PostgreSQL US</a></li>
  </ul>
 </div>

 <div class="pgFrontBox">
  <h2>Related organisations</h2>
  <ul>
   <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
  </ul>
 </div>
</div>
{% endblock %}

{% block maincontent %}
<div id="pgFrontLeft">
 <div id="pgFrontWelcome" class="pgFrontBox">
  <h1>Welcome to PostgreSQL Canada</h1>
  <p>
Welcome to the PostgreSQL Community Association of Canada, a non-profit organisation
setup to steward assets such as domain names and trademarks for the <a 
href="https://www.postgresql.org/">PostgreSQL Project</a>.
  </p>
  <p>
We're just finishing off the legal work at the moment, so please visit again in the near
future to see how we're getting on.
  </p>
 </div>
 
 <div id="pgFrontNews" class="pgFrontBox">
  <h1>Latest news</h1>
  
  <div class="pgFrontNewsItem">
   <h2>Board members confirmed</h2>
   <h3>31 May 2018</h3>
    
    <p>Following an AGM and board meeting at PGCon 2018 in Ottawa, the PostgreSQL Community Association of Canada's board now consists of:</p>
     <ul>
     <li>Dave Page (Chairman)</li>
     <li>Chris Browne (Treasurer)</li>
     <li>Steve Singer (Secretary)</li>
     <li>Jaime Casanova</li>
     <li>Peter Eisentraut</li>
     <li>Marc Fournier</li>
     <li>Jonathan Katz</li>
    </ul>
  </div>
 </div> <!-- pgFrontWelcome -->
</div> <!-- pgFrontLeft -->
{% endblock %}

