{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block relatedinfo %}
<div>
 <div>
  <h2>Donate</h2>
  <p>
    If you would like to help support the mission of the PostgreSQL Community Association (PGCA) donations can be made
    via Stripe using any of a variety of cards and payment methods by clicking the button below:</p>

    <script async
      src="https://js.stripe.com/v3/buy-button.js">
    </script>

    <stripe-buy-button
      buy-button-id="buy_btn_1NYVWCH2jVzVOptSgHmtWRpe"
      publishable-key="pk_live_51NYUFhH2jVzVOptSXaLQ9XGrka7IAxP9qjzyQfWSYPm9kaYKciajFO2EvqLQg4YjzKlWxLp9zJww2h3xoImG5a8L00jc1FjSG0"
    >
    </stripe-buy-button>
  </p>

  <p>
    If you would prefer to donate via PayPal, either using your PayPal account, or with a debit or credit
    card. Please click the Donate button below to visit our PayPal donation page:

    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="P96NP3M3LWHZS" />
      <input type="image" src="https://pics.paypal.com/00/s/OGM0MGY1ZDItMzAyNi00YmMyLThlNTgtMGJlZTkxMTIzZDk0/file.PNG" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
    </form>

  </p>
  <p>
    Alternatively, if you wish to make a donation through a bank transfer or by
    other means, please contact the PGCA board at
    <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a>.
  </p>
 </div>

 <div>
  <h2>Other Organisations</h2>
  <ul>
   <li><a href="https://www.postgresql.eu/">PostgreSQL Europe</a></li>
   <li><a href="https://www.postgresql.us/">PostgreSQL US</a></li>
  </ul>
 </div>

 <div>
  <h2>Related</h2>
  <ul>
   <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
  </ul>
 </div>
</div>
{% endblock %}

{% block maincontent %}
<div>
 <div>
  <h1>Welcome to the PostgreSQL Community Association</h1>
  <p>
Welcome to the PostgreSQL Community Association, a non-profit organisation
setup to steward assets such as domain names and trademarks for the <a
href="https://www.postgresql.org/">PostgreSQL Project</a>.
  </p>
 </div>

 <div>
  <h1>Latest news</h1>

    <div>
      <h2 id="2023-07-27"><a href="#2023-07-27">Setting the record straight: More updates on a trademark dispute</a></h2>
      <h5>27 July 2023</h5>

      <p>On 27th July we published a
        <a href="https://www.postgresql.org/about/news/setting-the-record-straight-more-updates-on-a-trademark-dispute-2682/">news article</a>
        updating the community on the ongoing trademark dispute with Fundación PostgreSQL
        in response to a blog post on their website.
      </p>

      <h2 id="2023-07-03"><a href="#2023-07-03">Change of Name</a></h2>
      <h5>3 July 2023</h5>

      <p>Following discussion with the PostgreSQL Core Team, the Association has
        now registered <b>PostgreSQL Community Association</b> (PGCA) as a business
        name and will primarily use that name in the future.
      </p>
      <p>The <b>PostgreSQL Community Association of Canada</b> remains the legal name
        of the Association, and may still be seen in official documents, contracts,
        and elsewhere.
      </p>

      <h2 id="2023-05-30"><a href="#2023-05-30">Board members confirmed</a></h2>
      <h5>30 May 2023</h5>

      <p>Following an AGM and board meeting held at PGCon 2023 in Ottawa, the
        PostgreSQL Community Association of Canada's board has been re-confirmed
        as:</p>
      <ul>
        <li>Dave Page (Chairman)</li>
        <li>Steve Singer (Treasurer)</li>
        <li>Jonathan Katz (Secretary)</li>
        <li>Jaime Casanova</li>
        <li>Peter Eisentraut</li>
        <li>Marc Fournier</li>
      </ul>

      <h2 id="2022-06-23"><a href="#2022-06-23">Infringing Trademark Registrations Invalidated by Spanish Court</a></h2>
      <h5>23 June 2022</h5>

      <p>In 2020, the PostgreSQL Core Team was made aware of trademarks
        registered in Spain and the European Union for <strong>POSTGRESQL</strong>
        and <strong>POSTGRESQL COMMUNITY</strong> by Fundación PostgreSQL, a
        3rd-party nonprofit organization. Subsequently, Fundación PostgreSQL
        also filed trademark registrations for <strong>POSTGRES</strong>.
        This situation is described in two
        separate announcements by the PostgreSQL community:
        "<a href="https://www.postgresql.org/about/news/trademark-actions-against-the-postgresql-community-2302/">Trademark Actions Against the PostgreSQL Community</a>" and
        "<a href="https://www.postgresql.org/about/news/update-on-the-trademark-actions-against-the-postgresql-community-2437/">Update on the Trademark Actions Against the PostgreSQL Community</a>".
      </p>
      <p>
        Fundación PostgreSQL offered publicly and privately to transfer the
        trademark registrations to PGCA at no cost. However, when prompted to
        initiate the transfer, Fundación PostgreSQL refused. This forced both
        PGCA and <a href="https://www.postgresql.eu">PostgreSQL Europe</a> (PGEU),
        a recognized PostgreSQL nonprofit organization that operates in Europe,
        to go forward with court proceedings in Spain to invalidate the
        trademark registrations.
      </p>
      <p>
        On the 31st of May, the Spanish court ruled in favor of PGCA
        and PGEU and invalidated the
        <strong>POSTGRESQL</strong> and <strong>POSTGRESQL COMMUNITY</strong>
        trademarks that were registered by Fundación PostgreSQL.
      </p>
      <p>
        Legal action on the registration for <strong>POSTGRES</strong> is
        ongoing.
      </p>
      <p>
        Fundación PostgreSQL attempted to register the same three
        trademarks in the United States. These applications were rejected
        by the examiner and are now abandoned.
      </p>
      <p>
        The PGCA board is grateful for the support that the PostgreSQL
        community has provided for the defense of our trademarks. As we have
        stated previously, we do hope for an amicable resolution in this matter,
        but will pursue all options until Fundación PostgreSQL surrenders all
        claims to trademarks that are in violation of the PostgreSQL
        <a href="https://www.postgresql.org/about/policies/trademarks/">trademark policy</a>.
      </p>
      <p>
        If you would like to continue to help support the mission of PGCA of
        holding community assets such as tradearks and domain names, we kindly
        ask that you please consider <a href="/donate">donating</a>.
      </p>

      <h2 id="2022-05-01"><a href="#2022-05-01">Board members confirmed</a></h2>
      <h5>1 May 2022</h5>

      <p>Following an AGM and board meeting held during a video conference, the
        PostgreSQL Community Association of Canada's board has been re-confirmed
        as:</p>
      <ul>
        <li>Dave Page (Chairman)</li>
        <li>Steve Singer (Treasurer)</li>
        <li>Jonathan Katz (Secretary)</li>
        <li>Jaime Casanova</li>
        <li>Peter Eisentraut</li>
        <li>Marc Fournier</li>
      </ul>
    </div>
 </div>
</div>
{% endblock %}
