{% extends "base-fullwidth.html" %}
{% block title %}Sponsors - PostgreSQL Community Association (PGCA) non-profit{% endblock %}
{% block meta_description %}Sponsors at the Friend level and above for the PGCA non-profit, whose generous contributions protect the PostgreSQL trademarks and brand assets.{% endblock %}
{% block og_slug %}pgca-sponsors{% endblock %}

{% block preload %}
  <link rel="preload" as="image" href="/static/img/sponsors-elephants.webp" type="image/webp">
  <link rel="preload" as="image" href="/static/img/sponsors-elephants.png" type="image/png">
{% endblock %}

{% block notification %}
{% include "partials/_default_notification.html" %}
{% endblock %}

{% block maincontent %}
<div class="jumbotron jumbotron-fluid mb-0 py-5" id="sponsors-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mt-0 mb-2 text-white">Sponsors of PGCA</h1>
        <p class="lead my-0">PostgreSQL Community Association (PGCA)</p>
      </div>
    </div>
  </div>
</div>
<div id="sponsors-intro">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <p>The PGCA cannot carry out its mission to protect the PostgreSQL project’s trademarks & brand assets without
          the generous financial support of our donors and sponsors from corporations, small businesses, & individual
          donors.</p>
        <p>Every donation makes a difference. We especially thank our sponsors listed here for their sizable
          contributions at the Friends level and above.</p>
        <p>
          <a href="/static/pdf/PGCA-sponsorship-prospectus-Feb2026.pdf" class="btn btn-brand font-weight-semibold px-4 mb-2 mr-2" target="_blank" rel="noopener">See
            Sponsorship Prospectus</a>
          <a href="/donate" class="btn btn-secondary font-weight-semibold mb-2 px-4">Donate to PGCA <i
              class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="sponsors-list" class="bg-secondary-soft py-4 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary text-center mb-4">Current sponsors at the Friend level or higher <span style="font-size:0.5em" class="font-weight-normal text-emphasis">(last 12 months)</span></h2>

        <!-- Benefactor -->
        <h3 class="mt-5 mb-4 pt-2 text-center text-emphasis">&mdash;&nbsp;Benefactors&nbsp;&mdash;</h3>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <div class="row medium-gutters justify-content-center level-benefactor">
              <div class="col-12 col-lg-6 sponsor-item">
                <div class="card h-100">
                  <div class="card-body">
                    <a href="https://aws.amazon.com" target="_blank" rel="noopener" title="AWS" class="logo-wrap">
                      <img class="organisation-logo" src="/static/img/sponsors/aws.svg" alt="AWS" />
                    </a>
                    <div class="company-name text-primary">AWS</div>
                    <div class="company-url"><i class="globe-icon" aria-hidden="true"></i><a href="https://aws.amazon.com" target="_blank" rel="noopener">https://aws.amazon.com</a></div>
                    <div class="company-desc">Amazon Web Services (AWS) is the world's most comprehensive and broadly adopted cloud provider, with 200+ fully featured services spanning over 35 geographic regions. With many solutions built for and around PostgreSQL, we strive to be a leading employer and contributor within the PostgreSQL community.</div>
                    <div class="donation-date">Donated in <nobr>Jul 2025</nobr></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 sponsor-item">
                <div class="card h-100">
                  <div class="card-body">
                    <a href="https://www.enterprisedb.com" target="_blank" rel="noopener" title="EDB" class="logo-wrap">
                      <img class="organisation-logo" src="/static/img/sponsors/edb-postgres.svg" alt="EDB" />
                    </a>
                    <div class="company-name text-primary">EDB</div>
                    <div class="company-url"><i class="globe-icon" aria-hidden="true"></i><a href="https://www.enterprisedb.com" target="_blank" rel="noopener">https://www.enterprisedb.com</a></div>
                    <div class="company-desc">As one of the leading contributors to PostgreSQL, EDB is committed to building the next generation of Postgres for operators, developers, and data engineers. EDB provides a modern Postgres data platform for transactional, analytical, and new AI workloads powered by an enhanced Postgres engine.</div>
                    <div class="donation-date">Donated in <nobr>Jan 2026</nobr></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Patron -->
        <h3 class="mt-5 mb-4 pt-2 text-center text-emphasis">&mdash;&nbsp;Patrons&nbsp;&mdash;</h3>
        <p class="text-center pb-5">Be the first company to <a href="/donate">donate to PGCA</a> at this sponsorship level.</p>

        <!-- Supporter -->
        <h3 class="mt-5 mb-4 pt-2 text-center text-emphasis">&mdash;&nbsp;Supporters&nbsp;&mdash;</h3>
        <div class="row medium-gutters justify-content-center level-supporter">
          <div class="col-12 col-md-6 col-lg-4 sponsor-item">
            <div class="card h-100">
              <div class="card-body">
                <a href="https://pganalyze.com" target="_blank" rel="noopener" title="pganalyze" class="logo-wrap">
                  <img class="organisation-logo wide" src="/static/img/sponsors/pganalyze.svg" alt="pganalyze" />
                </a>
                <div class="company-name text-primary">pganalyze</div>
                <div class="company-url"><i class="globe-icon" aria-hidden="true"></i><a href="https://pganalyze.com" target="_blank" rel="noopener">https://pganalyze.com</a></div>
                <div class="company-desc">pganalyze is the leader in high-quality PostgreSQL monitoring & tuning tools, trusted by more than 600 companies, like Atlassian, Auto Trader UK, & Fivetran, for fast & reliable performance. Fix slow queries with rewrites & plan comparisons, improve indexing, and detect bloat or vacuum problems.</div>
                <div class="donation-date">Donated in <nobr>Aug 2025</nobr></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Friend -->
        <h3 class="mt-5 mb-4 pt-2 text-center text-emphasis">&mdash;&nbsp;Friends&nbsp;&mdash;</h3>
        <div class="row medium-gutters justify-content-center level-friend">
          <div class="col-6 col-md-4 col-lg-3 sponsor-item">
            <div class="card h-100">
              <div class="card-body">
                <a href="https://intevation.de/index.en.html" target="_blank" rel="noopener" title="Intevation GmbH"
                  class="logo-wrap">
                  <img class="organisation-logo always-color" src="/static/img/sponsors/intevation.svg" alt="Intevation GmbH" />
                </a>
                <div class="company-name text-primary">Intevation GmbH</div>
                <div class="company-url"><i class="globe-icon" aria-hidden="true"></i><a href="https://intevation.de/index.en.html" target="_blank" rel="noopener">https://intevation.de/</a></div>
                <div class="donation-date">Donated in <nobr>Dec 2025</nobr></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sponsorship-levels" class="py-5 py-md-6 sponsors-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary mb-4"><span class="bd-content-title">Sponsorship levels for 2026 (in USD) <a class="anchorjs-link" aria-label="Anchor" href="#sponsorship-levels"></a></span></h2>
        <p class="mb-4">Anybody can donate to PGCA to support the PostgreSQL project, not just corporations. But if you have commercial interests in supporting the PostgreSQL project and you want to make a donation to help the project protect and defend our trademarks, these sponsorship levels are used.</p>

        <table class="table">
          <thead>
            <tr>
              <th>Level</th>
              <th>Minimum Donation in USD (from Feb 2026)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Donor</th>
              <td>&lt; $2,500</td>
            </tr>
            <tr>
              <th scope="row">Friend</th>
              <td>$2,500</td>
            </tr>
            <tr>
              <th scope="row">Supporter</th>
              <td>$5,000</td>
            </tr>
            <tr>
              <th scope="row">Patron</th>
              <td>$20,000</td>
            </tr>
            <tr>
              <th scope="row">Benefactor</th>
              <td>$40,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="help-pgca" class="py-5 py-md-6 brand-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="fs-6 font-weight-semibold text-uppercase mb-4 pb-2">PGCA Board and PostgreSQL Core Team</p>
        <p class="fs-2 font-weight-semibold mx-auto mb-4 pb-2" style="max-width:54ch">&ldquo;Help us protect and steward
          the PostgreSQL open source project. Your financial sponsorship is an important (and necessary) part of the
          equation.&rdquo;</p>
        <hr class="divider mx-auto" />
        <p class="font-weight-semibold mx-auto" style="max-width:70ch">To learn more about how you can help, review the
          <a href="/static/pdf/PGCA-sponsorship-prospectus-Feb2026.pdf" target="_blank" rel="noopener">PGCA sponsorship prospectus</a> or contact us at <span
            class="fs-5">&#128140;</span>&nbsp;<a href="mailto:donations@postgres.ca">donations@postgres.ca</a>.
        </p>
      </div>
    </div>
  </div>
</div>

{% include "partials/_thank_you.html" %}
{% endblock %}