/** CUSTOM FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

/** STANDARD COLOR DEFINITIONS (complete list) **/
:root {
  --a-fg-color: #336791;
  --a-highlight-fg-color: #193145;
  --body-bg-color: #fff;
  --body-fg-color: #515151;
  --h-fg-color: #515151;
  --i-fas-fg-color: #336791;
  --navbar-bg-color: #fff;
  --navbar-fg-color: inherit;
  --navbar-sdw-color: rgba(0,0,0,0.2);
  --navbar-toggler-img: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/** DARK COLOR (overrides only) **/
[data-theme="dark"] {
  --a-fg-color: #699eca;
  --a-highlight-fg-color: #50b0f0;
  --body-bg-color: #212121;
  --body-fg-color: #f3f5f9;
  --h-fg-color: #699eca;
  --i-fas-fg-color: #699eca;
  --navbar-bg-color: #212121;
  --navbar-fg-color: #f3f5f9;
  --navbar-toggler-img: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 245, 249, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body {
  background-color: var(--body-bg-color);
  padding-top: 4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--body-fg-color);
  font-size: 11.5pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  color: var(--h-fg-color);
  margin-top: 0.5em;
}

a {
  color: var(--a-fg-color);
  font-weight: 600;
  text-decoration: none;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:hover, a:active {
  color: var(--a-highlight-fg-color);
  text-decoration: none;
}

.navbar {
  box-shadow: 0px 3px 15px var(--navbar-sdw-color);
  background-color: var(--navbar-bg-color) !important;
  color: var(--navbar-fg-color) !important;
}

.navbar img.logo {
  height: 2rem;
  margin-left: 0;
  margin-bottom: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: var(--navbar-toggler-img)
}

i.fas {
   color: var(--i-fas-fg-color);
}

#footer {
  text-align: center;
  padding: 2em 0 2em 0;
  display: block;
}
